<div class="ui container">
    <div class="ui top fixed menu">
        <div class="item">
            <h1 class="ui header">Gutern</h1>
            <!-- <img src="/images/logo.png"> -->
        </div>
        <a class="item">Features</a>
        <a class="item">Testimonials</a>
        <a class="item">Sign-up as a company</a>
        <a class="item">Sign-up as an intern</a>
    </div>
    <div class="ui bottom fixed menu">
        <div class="item">
            <h1 class="ui header">Gutern</h1>
            <!-- <img src="/images/logo.png"> -->
        </div>
        <a class="item">Features</a>
        <a class="item">Testimonials</a>
        <a class="item">Sign-up as a company</a>
        <a class="item">Sign-up as an intern</a>
    </div>
    <p></p>
    <p></p>
</div>