<div class="ui fluid container">
    <div class="ui stackable menu">
        <div class="item">
            <h1 class="ui header">Gutern</h1>
        </div>
        <a class="item" [routerLink]="['/register-login']" routerLinkActive="router-link-active">Sign-up as a
            company</a>
        <a class="item" [routerLink]="['/register-login']" routerLinkActive="router-link-active">Sign-up as an
            intern</a>

        <div class="item">
            <div class="ui form">
                <div class="fields">
                    <div class="field">
                        <input type="email" placeholder="Email">
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Password">
                    </div>
                </div>
            </div>

                <a class="ui black button">Login</a>
            

        </div>
    </div>
    <div class="jumbotron" align="center">
        <h1 class="display-4">Get great interns</h1>
        <p class="lead">We are providing trained, talented, and amazing interns to help bring your company value.</p>
        <hr class="my-4">
        <p>We got you, learn more.</p>
        <a class="ui black button" [routerLink]="['/contact']" routerLinkActive="router-link-active">Learn
            more</a>
    </div>

    <div class="ui placeholder segment">
        <div class="ui three column stackable center aligned grid">

            <h2 class="ui header">Its as simple as </h2>



            <div class="middle aligned row">
                <div class="column">
                    <div class="ui icon header">
                        <i class="pencil alternate icon"></i>
                        Registering
                    </div>
                </div>

                <div class="column">
                    <div class="ui icon header">
                        <i class="search icon"></i>
                        Finding Talents
                    </div>
                </div>


                <div class="column">
                    <div class="ui icon header">
                        <i class="world icon"></i>
                        Hiring
                    </div>
                    <div class="ui black button" [routerLink]="['/register-login']"
                        routerLinkActive="router-link-active">
                        Get started
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>